html {
  background-color: white;
  font-size: 20px; }

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.fFooter {
  background-color: #E5F9FF;
  flex-grow: 1; }

#togli {
  margin-bottom: 0px;
  font-size: 30px;
  text-align: center; }

.ridimensiona {
  margin: 50px; }

figure {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.fHeader {
  flex-grow: 1;
  display: flex;
  flex-direction: row; }

.benvenuto {
  flex-grow: 1; }

#saluto {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background-color: #E5F9FF;
  margin: 0px; }

.flexMain {
  display: flex;
  flex-grow: 3;
  justify-content: center; }

.flexSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #b2c5d4b5;
  max-width: 70%;
  border-radius: 10px 10px 10px 10px;
  margin: 20px; }

.flexFoto {
  flex-grow: 1; }

.flexArticle {
  flex-grow: 4; }

.display {
  margin: 0px;
  text-align: center; }

img {
  margin: auto;
  border-radius: 50%; }

article {
  display: flex;
  flex-direction: column; }

li {
  display: flex;
  list-style-type: none;
  padding: 20px;
  justify-content: space-around; }

ul {
  justify-content: space-around;
  padding: 0px;
  display: flex; }

.fNav {
  display: flex;
  background-color: #C0E1FF;
  flex-grow: 1;
  justify-content: center; }

.prova {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

input {
  margin: 6px 0px 6px 0px;
  padding: 10px;
  width: 60%;
  border: 1px solid black; }

input[type="submit"] {
  background-color: #00C200;
  width: 50%;
  font-size: 18px; }

input[type="radio"] {
  margin: 7px 20px 0px 20px; }

#sposta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap; }

.laterale {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.carattere {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  padding: 10px 10px 10px 30px; }

form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px; }

#colore {
  color: white;
  background-color: black; }

.center {
  text-align: center; }
